
InformationSystemII/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
InformationSystemII/Saved/Logs/InformationSystemII.log
InformationSystemII/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
